{% extends "layout/layout.twig" %}

{% block content %}
    <h1>Dashboard Knowledge Management</h1>

    {% if session.user %}
        <p>Halo, {{ session.user.username }} ({{ session.user.role }})</p>
    {% else %}
        <p>Silakan login untuk melanjutkan.</p>
    {% endif %}
{% endblock %}
